html {
    background: no-repeat url("../img/mer-background.jpg") fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    margin: 30px auto;
    max-width: 900px;
    border: 5px solid aqua;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: white;
}

header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: no-repeat url("../img/plat header.jpg") center;
    background-size: 900px;
}

header div img {
    width: 150px;
}

header div h1 {
    font-weight: 700;
    font-size: 50px;
    color: aqua;
}

header nav ul {
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
    background: aqua;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav ul li a {
    width: 100%;
    padding: 10px;
    color: black;
}

nav ul li a:hover {
    background-color: blue;
}

nav ul li ul {
    display: none;
    background: #0ad0ff;
    margin-top: 10px;
    width: auto;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
}

section {
    border: 3px solid aqua;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    width: 80%;
}

section h3 {
    margin-bottom: 0px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: aqua;
    font-size: 25px;
    color: black;
    padding: 5px;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

p {
    background-color: aqua;
    padding: 0px 5px;
}

#menu_of_the_day {
    background: no-repeat url(../img/cloche.jpg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider .sections section {
    float: left;
    width: calc(4*((100%/3)/5));
    height: 500px;
    margin: 0px calc((((100%/3)/5) - 6px)/2);
    color: aqua;
}

.sections {
    width: calc(100%*3);
    animation: slider 30s infinite;
}

.slider {
    width: 100%;
    overflow: hidden;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(calc((-100%/3)));
    }
    66% {
        transform: translateX(calc(((-100%/3)*2)));
    }
    100% {
        transform: translateX(0);
    }
}

#child-menu {
    background: center no-repeat url(../img/enfant.jpg);
}

#view-on-the-sea {
    background: center no-repeat url(../img/restaurant-terrasse-vue-mer.jpg);
}

#local-product {
    background: center no-repeat url(../img/Moules_bateaux.jpg);
    background-size: cover;
}

button.edit_button, button {
    background-color: #0ad0ff;
    border: 3px solid aqua;
    border-radius: 10px;
}

div#recipe_pop_up {
    width: 90%;
    height: 80%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid aqua;
    position: fixed;
    padding-bottom: 10px;
    top: 10%;
    left: 5%;
    background-color: #0ad0ff;
    box-shadow: -1px -1px 2px 2px;
    z-index: 1;
	overflow-y: auto;
}

form {
	width: 30%;
}

#cancel_button {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#sup {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#submit_button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

div#recipe_pop_up div button {
	margin: 10px 0px;
	padding: 10px 20px;
}

#edit-pop-up-command button {
	width: calc(33% - 6px);
}

#edit-pop-up-command button#submit_button {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#add-pop-up-command button {
	width: calc(50% - 6px);
}

#add-pop-up-command button#submit_button {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

#image_preview {
    width: calc(100% - 6px);
    border: 3px solid black;
	border-bottom: 0px;
    margin-bottom: 0;
    display: block;
}

body > div {
    width: 80%;
    margin: 5px auto;
}

div.recipe_list, .drink_list, #menu_of_the_day_edit {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid aqua;
    margin-top: 10px;
	max-height: calc(99px + (5*120px));
	overflow-y: auto;
}

div.recipe_list ul, div.drink_list ul {
    width: 100%;
    padding: 0px;
}

div.recipe_list ul li, div.drink_list ul li {
    height: 100px;
	padding: 10px 0;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

div.recipe_list img, div.drink_list img {
	max-width: 25%;
	max-height: 100%;
	border: 1px solid aqua;
}

div.recipe_list h3, div.drink_list h3 {
    font-size: 20px;
    padding-left: 5px;
}

button.edit_button {
    margin-left: auto;
    margin-right: 5px;
    padding: 5px;
    color: black;
}

button.add_button {
    width: 100%;
    padding: 10px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border-top: 0;
}

#menu_of_the_day_edit {
	padding-bottom: 10px;
}

button:focus {
    outline: none;
}

select, #menu_of_the_day_price {
	border-color: aqua;
}

div#recipe_pop_up button {
    border-color: black;
}

button#browse-file-button {
    display: block;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button:active {
    background-color: blue;
}

svg {
    display:block;
}

#admin_title {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    color: aqua;
    text-decoration: overline underline;
}
#p {
    height: 500px;
}
